# CODEOWNERS for hopr-api
# Code owners are automatically requested for review when someone opens a pull request.

# Default owners for everything
* @ausias-armesto @jeandemeusy @NumberFour8 @QYuQianchen @Teebor-Choka @tolbrino

# Build and configuration
*.nix @ausias-armesto @Teebor-Choka @tolbrino
flake.lock @ausias-armesto @Teebor-Choka @tolbrino

# GitHub Actions and CI/CD
/.github/ @ausias-armesto @Teebor-Choka @tolbrino
